<div class="container-fluid">
  <h2 class="d-flex justify-content-center m-4">PSI - project</h2>

  <table mat-table
         [dataSource]="data$ | async" multiTemplateDataRows
         class="container mat-elevation-z8 mt-4">
    <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
      <th mat-header-cell *matHeaderCellDef> {{column}} </th>
      <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
    </ng-container>

    <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
        <div class="example-element-detail"
             [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">

          <div *ngIf="isLoading; else chart">
            <h5 class="d-flex justify-content-center align-items-center"> Trwa renderowanie wykresu.. </h5>
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
          </div>
          <ng-template #chart>
            <div class="container-fluid">

              <div class="p-4 mat-elevation-z8">
                <h4 class="d-flex justify-content-center align-items-center">
                  Wykres </h4>
                <ngx-charts-bubble-chart class="container"
                                         [results]="chartData"
                                         [view]="view"
                                         [scheme]="colorScheme"
                                         [autoScale]="true"
                                         (select)="onSelect($event)">
                </ngx-charts-bubble-chart>
              </div>


              <div class="row pt-4">
                <mat-divider class="col-12"></mat-divider>
                <div class="col-4 p-4">
                  <h4 class="d-flex justify-content-center align-items-center p-2">
                    Simple regression: y = intercept + slope * x </h4>
                  <ul>
                    <li *ngFor="let prop of linearRegressionKeys">
                      <span class="font-weight-bold">{{prop}} : </span>
                      <span>{{linearRegression[prop]}}</span>
                    </li>
                  </ul>
                </div>
                <div class="col-4 p-4">
                  <h4 class="d-flex justify-content-center align-items-center p-2">
                    OLS Multiple Regression: </h4>
<!--                  <ul>-->
<!--                    <li *ngFor="let prop of olsRegressionKeys">-->
<!--                      <span class="font-weight-bold">{{prop}} : </span>-->
<!--                      <span>{{olsRegression[prop]}}</span>-->
<!--                    </li>-->
<!--                  </ul>-->
                </div>
                <div class="col-4 p-4">
                  <h4 class="d-flex justify-content-center align-items-center p-2">
                    GLS Multiple Regression: </h4>
<!--                  <ul>-->
<!--                    <li *ngFor="let prop of linearRegressionKeys">-->
<!--                      <span class="font-weight-bold">{{prop}} : </span>-->
<!--                      <span>{{linearRegression[prop]}}</span>-->
<!--                    </li>-->
<!--                  </ul>-->
                </div>
              </div>

            </div>
          </ng-template>

          <!--          <div class="example-element-diagram">-->
          <!--            <div class="example-element-position"> {{element.position}} </div>-->
          <!--            <div class="example-element-symbol"> {{element.symbol}} </div>-->
          <!--            <div class="example-element-name"> {{element.name}} </div>-->
          <!--            <div class="example-element-weight"> {{element.weight}} </div>-->
          <!--          </div>-->
          <!--          <div class="example-element-description">-->
          <!--            {{element.description}}-->
          <!--            <span class="example-element-description-attribution"> &#45;&#45; Wikipedia </span>-->
          <!--          </div>-->
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let element; columns: columnsToDisplay;"
        class="example-element-row"
        [class.example-expanded-row]="expandedElement === element"
        (click)="onCLick(element)">
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
  </table>
</div>
